body {
  font-family: "Nunito Sans", sans-serif;
}

/*navigation style*/
nav {
  font-size: 20px;
  border-bottom: 1px solid black;
  background-color: white;
}

.logo {
  max-width: 5%;
}

.title {
  font-size: 30px;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigation li:hover {
  font-size: 22px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

/*header*/
header {
  text-align: center;
}

.row {
  display: flex;
  margin: 50px;
}
.column {
  width: 50%;
}

.asheville img {
  width: 90%;
  height: auto;
  border-radius: 5px;
}

/*section*/
section {
  font-size: 25px;

  margin: 40px;
}

p {
  max-width: 100%;
}

aside {
  width: 50%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  border: solid 1px black;
  border-radius: 5px;
}

/*footer*/
footer {
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  background-color: white;
}

footer .footerTitle {
  font-size: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contactUs {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.contactUs:hover {
  background-color: lightgray;
}

.source {
  color: blue;
  text-decoration: underline;
  font-style: italic;
}
