/*navigation style*/
nav {
  font-size: 20px;
  border-bottom: 1px solid black;
  background-color: white;
}

.logo {
  max-width: 5%;
}

.title {
  font-size: 30px;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

/*footer*/
footer {
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  background-color: white;
}

footer .footerTitle {
  font-size: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contactUs {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.contactUs:hover {
  background-color: lightgray;
}

.source {
  color: blue;
  text-decoration: underline;
}
